<!-- app/views/tasks/index.html.erb -->
<div class="container mx-auto p-8">
  <%= turbo_frame_tag "tasks" do %>
    <div class="">
      <%= render partial: 'task', collection: @tasks, as: :task %>
    </div>
  <%end%>
  <div class="absolute bottom-0 left-0 right-0 mb-4">
    <%= render partial: 'form', task: @task %>
  </div>
</div>
